[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "other/powerline-fonts"]
	path = other/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
